<%= stylesheet_link_tag "bootstrap", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>


<html ng-app="Jugular">

<body>

  <%= render "navbar" =%>

  <div id="main" class="container-fluid" ng-controller="PicsController">
    <%= render "about" =%>
    <%= render "versus" =%>
    <%= render "best" =%>
    <%= render "upload" =%>
    <%= render "view" =%>
    <%= render "edit" =%>
    <%= render "list" =%>
  </div>

</body>

</html>
